# Allow from all sources
acl all src all

# Limit to ports 80 443
acl Safe_ports port 80
acl Safe_ports port 443
http_access deny !Safe_ports

# Enable debug logging
debug_options ALL,1 33,2 28,9

# Allow by default
http_access allow all

http_port 3128
